{{> head}}

    {{> navbar}}

   <div class="row">
       
       <div class="col-8">
           <h1>UNO MINIMALISTA</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, hic! Et repellendus, maiores minima beatae esse fuga atque architecto aut repudiandae enim, quis ullam asperiores similique, culpa dignissimos obcaecati. Nostrum.</p>
       </div>
       <div class="col-4">
           <img src="assets/img/uno-minimalista.png" class="img-thumbnail">
       </div>
   </div>

{{> footer}}